:root { 
  --REGULAR_BACKGROUND_COLOR: #F4F4F4;
  --LIGHT_FONT_COLOR: #F4F4F4;
  --REGULAR_BORDER_COLOR: #888888;
  --FOCUS_BORDER_COLOR: #444444;
  --HEAD_ELEMENT_BACKGROUND_COLOR: #444444;
  --HEAD_ELEMENT_BORDER_COLOR: #444444;
  --SELECTED_ELEMENT_BACKGROUND_COLOR: #FAB005;
  --CREATE_BUTTON_BACKGROUND_COLOR: #40985e;
  --REMOVE_BUTTON_BACKGROUND_COLOR: #e55d4d;
  --TAGS_ELEMENT_BACKGROUND_COLOR: #DDDDDD;
}

/* basic configuration */
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: Indie Flower;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.hidden {
  display: none;
}

/* TODO turn on when script will be available */
/* class to auto-generate hand-drawn border 
.border {
  border-style: solid;
  border-width: 5px 25px;
}*/
/* class to auto-generate hand-drawn border for elements with small width 
.border-small {
  border-style: solid;
  border-width: 5px 5px;
}*/

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* center horizontally */
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--REGULAR_BACKGROUND_COLOR);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px; /* main_width = tags(aside) + gap + bookmarks(section) = 250 + 25 + 725*/
}

/* header elements used as titles for different containers */
.header-element {
  background-color: var(--HEAD_ELEMENT_BACKGROUND_COLOR); /*TODO delete (for test only)*/
  font-weight: 600;
  color: var(--REGULAR_BACKGROUND_COLOR);
}

/* styles for aside container with all tags */
#tags {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 25px; /* gap between tags and bookmarks*/
}

#tags * {
  margin-bottom: 5px;
  width: 100%;
  height: 40px;
  line-height: 36px; /* TODO change on 30px*/
  border-style: solid; /* TODO delete (for test only) */
  border-width: 2px; /* TODO delete (for test only) */
  border-radius: 10px; /* TODO delete (for test only) */
  border-color: var(--REGULAR_BORDER_COLOR); /* TODO delete (for test only) */
}


#tags-title {
  margin-bottom: 15px;
  border-color: var(--HEAD_ELEMENT_BORDER_COLOR);/* TODO remove when scrit will be available */
}

/* TODO remove when scrit will be available */
.tag:hover {
  border-color: var(--FOCUS_BORDER_COLOR) !important;
}
/* TODO remove when scrit will be available */
input:checked + label {
  background-color: var(--SELECTED_ELEMENT_BACKGROUND_COLOR);
}

#bookmarks {
  display: flex;
  flex-direction: column;
  width: 725px;
}

#bookmarks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 15px;
}

#bookmarks-header * {
  height: 40px;
  line-height: 36px; /* TODO change on 30px*/
  border-style: solid; /* TODO delete (for test only) */
  border-width: 2px; /* TODO delete (for test only) */
  border-radius: 10px; /* TODO delete (for test only) */
}

#bookmarks-header-title {
  width: calc(100% - 110px); /* width = 100% - (gap + tags + gap + remove button) = 100% - 5px - 60px - 5px - 40px */
  border-color: var(--HEAD_ELEMENT_BORDER_COLOR); /*TODO delete (for test only)*/
}

#bookmarks-header-create-button {
  width: 105px; /* width = tag + gap + button = 60 + 5 + 40 */
  border-color: var(--REGULAR_BORDER_COLOR); /*TODO delete (for test only)*/
  background-color: var(--CREATE_BUTTON_BACKGROUND_COLOR); /*TODO delete (for test only)*/
}

/*TODO delete (for test only)*/
#bookmarks-header-create-button:hover {
  border-color: var(--FOCUS_BORDER_COLOR); 
}

#bookmarks-content {
  display: flex;
  flex-direction: column;
}

.bookmark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.bookmark * {
  height: 40px;
  line-height: 36px; /* TODO change on 30px*/
  border-style: solid; /* TODO delete (for test only) */
  border-width: 2px; /* TODO delete (for test only) */
  border-radius: 10px; /* TODO delete (for test only) */
  border-color: var(--REGULAR_BORDER_COLOR); /* TODO delete (for test only) */
}

.bookmark *:hover {
  border-color: var(--FOCUS_BORDER_COLOR); /* TODO delete (for test only) */
}

.bookmark-title {
  width: calc(100% - 110px); /* 110px = gap + tags + gap + remove button = 5 + 60 + 5 + 40 */
}

.bookmark-tags {
  width: 60px;
  background-color: var(--TAGS_ELEMENT_BACKGROUND_COLOR); /* TODO delete (for test only) */
}

.bookmark-remove-button {
  width: 40px;
  background-color: var(--REMOVE_BUTTON_BACKGROUND_COLOR); /* TODO delete (for test only) */
}

/* ! TEST STYLE FOR BORDERS AND FILL */
/* main {
  display: none;
}

#test {
  width: 200px;
  height: 50px;
  line-height: 30px;
  border-width: 5px 25px;
  border-style: solid;
  text-align: center;
  border-image: url("../light_border.svg") 5 25;
}

#test_background {
  height: 50px;
  width: 200px;
  background: url("../fill.svg") no-repeat;
  background-size: 100% 100%;
} */